#slot-machine{
	border-radius: 10px;
	background-color: #e3a2f0;
	margin-top: 50px;
	padding: 20px;
	width: 1000px;
	margin: auto;
	text-align: center;
}
h2#titolo{
	color: white;
	font-size: 30px;
	text-align: center;
	padding:10px;
}

section.slots{
	display: flex;
	justify-content: space-around;
	border-radius: 15px;
	background-color: #FAFAFA;
	padding: 20px;
}

#button-slot{
	color: white;
	font-size: 26px;
	text-align: center;
	margin-top: 30px;
	padding: 20px;
	background-color: #ffc123;
	border: 1px solid #3889c4;
	border-radius: 10px;
	cursor: pointer;
}
.icons{
	font-size: 50px;
	text-align: center;
	margin:10px;
}

#button-slot:hover{
	background-color: #16486c;
}

div#risultato{
	width: 300px;
	margin: 10px auto;
	border: 1px solid #8bf487;
	border-radius: 15px;
	background-color: #87f4c7;
	padding: 10px;
}